name: Deploy Connections API

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/CI-CONNECTIONS.yaml
      - "api/**"
      - "cache/**"
      - "entities/**"
      - "unified/**"
      - Cargo.lock
      - Dockerfile.common
      - api/Dockerfile

env:
  docker_image_tag: ${{ github.sha }}
  IMAGE_NAME: gcr.io/inhotel-prod/artifacts/docker/inhotel-prod/inhotel-agent-connections
  CLUSTER_NAME: inhotel-agent
  CLUSTER_LOCATION: europe-west6

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3

      # Build and Push Container
      - uses: integration-os/google-artifact-registry-action@v2
        with:
          image: "${{ env.IMAGE_NAME }}:${{ env.docker_image_tag }}"
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          file: api/Dockerfile
          context: .
          build-args: |
            "EXECUTABLE=api"

      # Authenticate to Google Cloud for kubectl
      - id: auth
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      # Get GKE Credentials
      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: ${{ env.CLUSTER_NAME }}
          location: ${{ env.CLUSTER_LOCATION }}

      # Deploy
      - name: Deploy to GKE
        run: |
          # Install kustomize
          curl -sfL https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv5.3.0/kustomize_v5.3.0_linux_amd64.tar.gz | tar -xzf -
          chmod u+x kustomize
          mv kustomize /usr/local/bin/

          # Update image tag and namespace
          cd k8s
          kustomize edit set namespace inhotel-agent-app
          kustomize edit set image gcr.io/inhotel-prod/artifacts/docker/inhotel-prod/inhotel-agent-connections=${{ env.IMAGE_NAME }}:${{ env.docker_image_tag }}
          cd ..

          # Apply changes
          kubectl apply -k k8s/
          kubectl rollout status deployment/connections-api
